@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@font-face {
    font-family: Musil;
    src: url(assets/MusilFont-Regular.ttf);
    font-weight: bold;
}

:root {
    --font-color: #000;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--font-color);
}

ul {
    list-style-type: none;
}

/* INDEX PAGE | VIDEO AND LINK */

#indexbody {
    overflow: hidden;
}

#titlevid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    background-color: #0002e;
}

#indexshade {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: 0.7;
}

#logolink {
    z-index: 100;
    position: absolute;
    left: 50%;
    margin-left: -15rem;
    top: 50%;
    margin-top: -15rem;
}

#indexlogo {
    width: 30rem;
}

footer {
    height: 5vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding-left: 2rem;
}
.fa {
    font-size: 2rem;
    margin-left: 1rem;
}
body {
    height: 100vh;
    padding: none;
    margin: 0;
            font-family: "Helvetica Neue", "Open Sans", sans-serif;
}

header {
    position: fixed;
    top: 0;
    max-height: 15%;
    min-height: 7rem;
}

.header-wrap {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 6rem;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.navpoint {
    margin: 1rem;
}

.header-divider {
    width: 90vw;
    height: 2px;
    background-color: #000;
    margin-top: 2rem;
    margin-left: 5vw;
}

main {
    position: fixed;
    top:12rem;
    left: 20px;
    display: flex;
    max-height: 70%;
    align-items: center;
}

.article-wrap {
    min-width: 100vw;
    text-align: center;
}

article {
    display: inline-block;
    position: relative;
    margin: auto;
}

.painting {
    position: relative;
    z-index: 2;
    max-width: 100%;
    margin: auto;
}
.textbox {
    position: absolute;
    top: 2rem;
    z-index: -2;
    word-wrap: break-word;
    border: 1px var(--font-color) solid;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 0 0.5rem 0 0.5rem;
    width:10rem;
    left: -10rem;
}

.medium-box {
    position: absolute;
    right: -11rem;
    bottom: 2rem;
    border: 1px var(--font-color) solid;
    border-radius: 5px;
    height: 8rem;
    width: 10rem;
    word-wrap: break-word;
    padding: 0 0.5rem 0 0.5rem;
    margin-left: 1rem;
    font-family: 'Musil';
}

/* HORIZANTAL SCROLL*/
.scroll {
    --main-width: 1;
    height: calc(var(--main-width)*100vw);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

