@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@font-face {
    font-family: Musil;
    src: url(assets/MusilFont-Regular.ttf);
}
@font-face {
    font-family: MusilLogo;
    src: url(assets/MusilFontLogo-Regular.ttf);
}

:root {
    --font-color: #000;

    --img-width: 1;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--font-color);
}

ul {
    list-style-type: none;
}

/* INDEX PAGE | VIDEO AND LINK */

#indexbody {
    overflow: hidden;
}

#titlevid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100vw;
    background-color: #0002e;
}

@media only screen and (max-width: 900px) {
    #titlevid {
        width: auto;
        height: 100vh;
    }
}


#indexshade {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: 0.7;
}

#musilshade {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: 0.7;
}

#logolink {
    z-index: 100;
    position: absolute;
    left: 50%;
    margin-left: -15rem;
    top: 50%;
    margin-top: -15rem;
}

#indexlogo {
    width: 140%;
}

svg {
    font-family: "Musil", "Helvetica Neue", "Open Sans", sans-serif;
}

footer {
    height: 8vh;
    width: 100vw;
    position: fixed;
    bottom: 1vh;
    padding-left: 2rem;
}
@media only screen and (max-width: 900px){
    footer {
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: 2rem 0 0 0;
        width: 60%;
        margin: 0 auto 2rem auto
    }
}
.footer-icon {
    width: 2rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 900px) {
    .footer-icon {
        display: none;
    }
}
body {
    height: 100vh;
    padding: none;
    margin: 0;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
}

header {
    position: fixed;
    top: 0;
    max-height: 15%;
    min-height: 7rem;
    z-index: 1000;
}

.header-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 8.5rem;
    background-color: #fff;
}

.header-wrap {
    padding: 1rem 0rem 0.5rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 900px){
    .header-wrap {
        padding: 1rem 0 .5rem 1rem;
        margin: 0 auto;
justify-content: center;
    }
}

#logo {
    height: 6rem;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    width: 60%;
}

@media only screen and (max-width: 900px) {
    .nav {
        flex-flow: column;
        background-color: rgba(360, 360, 360, 0.9);
        position: absolute;
        top: 8.5rem;
        width: 100vw;
        left: 0;
        text-align: center;
        overflow: hidden;
        height: 0;
        transition: all 1s;
    }
    #nav-gal {
        padding-left: 1rem;
        position: relative;
        top: -5rem;
        transition: all 1s;
    }
    #nav-mus{
        padding-left: 1rem;
        position: relative;
        top: -10rem;
        transition: all 1s;
    }
    #nav-con {
        padding-left: 1rem;
        position: relative;
        top: -15rem;
        transition: all 1s;
    }
}
.navpoint {
    display: flex;
    align-items: center;
    height: 5rem;
    font-family: "Musil", "Helvetica Neue", "Open Sans", sans-serif;
    font-size: 3rem;
    cursor: pointer;
}

.active {
    border-top: 0.5px solid var(--font-color);
    padding-top: 0.2rem;
}

@media only screen and (max-width: 900px) {
    .active {
        border: none;
        padding: none;
    }
    .mobileactive {
        width: 100vw;
        margin: 0 auto;
        background-color: rgba(0,0,0,0.3);
    }
}

.header-divider {
    width: 90vw;
    height: 0.5px;
    background-color: #000;
    margin-left: 5vw;
}

#main-gallery {
    position: fixed;
    top: 12rem;
    display: flex;
    max-height: 70%;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    #main-gallery {
        display: block;
        position: relative;
    }
}

.article-wrap {
    min-width: calc(var(--img-width)+15rem);
    width: 60vw;
    margin-right: 20vw;
    text-align: end;
}

@media only screen and (max-width: 900px) {
    .article-wrap {
        min-width: 100vw;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 4rem;
        overflow: hidden;
    }
}

article {
    display: inline-block;
    position: relative;
    margin: auto;
    text-align: center;
}

.painting {
    position: relative;
    z-index: 2;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.textbox {
    position: absolute;
    top: 5vh;
    left: 0;
    z-index: -2;
    max-height: 55vh;
    overflow: scroll;
    word-wrap: break-word;
    border: 1px var(--font-color) solid;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 0 0.5rem 0 0.5rem;
    width: 13rem;
    transition: all 1s;
}

@media only screen and (max-width: 900px) {
    .textbox {
        top: auto;
        bottom: -75%;
        z-index: 10;
        border: none;
        background-color: rgba(360, 360, 360, 0.8);
        width: 100%;
        height: 70%;
        text-align: left;
        padding: 0 1rem 0 1rem;
    }
}

.textbox h1 {
    font-family: "Musil", "Helvetica Neue", "Open Sans", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 0;
    text-align: center;
}

.movetextbox {
    left: -13rem;
}

@media only screen and (max-width: 900px) {
    .movetextbox {
        left: 0;
        bottom: -2%;
    }
}
.medium-box {
    position: absolute;
    right: -11rem;
    bottom: 2rem;
    border: 0.5px var(--font-color) solid;
    border-radius: 5px;
    height: 8rem;
    width: 10rem;
    word-wrap: break-word;
    padding: 0 0.5rem 0 0.5rem;
    margin-left: 1rem;
    font-size: 0.7rem;
}
@media only screen and (max-width: 900px){
    .medium-box {
        display: hide;
    }
}

.box-title {
    font-family: "Musil", "Helvetica Neue", "Open Sans", sans-serif;
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
}

.img-wrap-gallery {
    height: 60vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .img-wrap-gallery {
        height: 100%;
    }
}

/* HORIZANTAL SCROLL*/
.scroll {
    --main-width: 1;
    height: calc(var(--main-width) * 80vw);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/* SCROLL OVERVIEW */
.progressbar {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 0.7rem;
    border: 0.5px solid var(--font-color);
    border-radius: 5px;
    z-index: 10;
}

.progress {
    position: relative;
    transition: smooth;
    left: 0;
    width: 4%;
    margin: 0;
    height: 0.7rem;
    background-color: var(--font-color);
    border-radius: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    .scroll {
        display: none;
    }

    ::-webkit-scrollbar {
        width: default;
        background: default;
    }
    .progressbar {
        display: none;
    }
}

/* END HZ SCROLL */

.img-wrap-musil {
    height: 100%;
    margin: 0;
    padding: 0;
}

#musil-body {
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
    #musil-body {
        overflow: scroll;
    }
}

#creepyface {
    position: relative;
    z-index: 0;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#main-musil {
    margin-top: 10rem;
    height: 70%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    #main-musil {
        height: auto;
    }
}

.musil-wrap {
    height: 100%;
    width: 35%;
    display: inline-block;
    position: relative;
}

@media only screen and (max-width: 900px){
    .musil-wrap {
        width: 85%;
        height: auto;
        display: block;
         margin: 0 auto;
    }
}

.musil-short {
    position: absolute;
    word-wrap: break-word;
    border: 1px var(--font-color) solid;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 0 4rem 0 0.5rem;
    width: 55%;
    height: 90%;
    top: 5%;
    left: 10%;
    z-index: -1;
    transition: left 0.5s;
    cursor: pointer;
    background-color: rgba(360, 360, 360, 0.7);
    line-height: 1.4rem;
    overflow: scroll;
}

.musil-long {
    position: absolute;
    word-wrap: break-word;
    border: 1px var(--font-color) solid;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 0 0.5rem 0 4.5rem;
    width: 55%;
    height: 90%;
    top: 5%;
    right: 10%;
    z-index: -1;
    transition: right 0.5s;
    cursor: pointer;
    background-color: rgba(360, 360, 360, 0.7);
      line-height: 1.4rem;
     overflow: scroll;
}

.musil-short h2,
.musil-long h2 {
    font-family: 'Musil', 'Helvetica Neue', 'Open Sana', sans-serif;
}

@media only screen and (max-width: 900px) {
    .musil-short,
    .musil-long {
        position: static;
        width: 83%;
        margin: 0 auto;
        border-radius: 0;
        padding: 1rem 1rem 0 1rem;
    }
    .musil-short {
        border-top: none;
        padding-top: 2rem;
    }
    #musilinsta,
    #musilmail {
        display: block;
    }
}

#musilh3,
#musilp {
    text-align: left;
}

.the-artist {
    position: absolute;
    color: #fff;
    width: 50%;
    top: 5%;
    left: 0;
    padding: 0 0.5rem 0 0.5rem;
    overflow: hidden;
    z-index: 1;
    height: 100%;
    transition: all 0.5s;
}

.the-human {
    position: absolute;
    color: #fff;
    width: 50%;
    top: 5%;
    right: 0;
    padding: 0 0.5rem 0 0.5rem;
    overflow: hidden;
    z-index: 1;
    height: 100%;
    transition: all 0.5s;
}

.the-artist h2,
.the-human h2 {
    font-family: 'Musil', 'Helvetica Neue', 'Open Sana', sans-serif;
    transition: all 0.5s;
}

@media only screen and (max-width: 900px) {
    .the-artist,
.the-human {
    display: none;
}
    #musilshade {
        display: none;
    }
    #main-musil video {
        display: none;
    }
}

#contact-body {
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
    #contact-body {
        overflow: visible;
    }
}

#contact-main {
    height: 60vh;
    margin-top: 12rem;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    #contact-main {
        margin-top: 10rem;
        height: auto;
        flex-flow: column;
    }
}

.contact-body {
    line-height: 1.5rem;
}

.textcontent {
    width: 25%;
    text-align: end;
    margin: 5vw;
}

.textcontent h1 {
    font-family: 'Musil', 'Helvetica Neue', 'Open Sana', sans-serif;
}

@media only screen and (max-width: 900px) {
    .textcontent {
        width: 85%;
        margin: 0 auto;
        text-align: left;
    }
}

form {
    display: flex;
    flex-flow: column;
    width: 40%;
    font-family: 'Musil', 'Helvetica Neue', 'Open Sana', sans-serif;
    font-size: 1.2rem;
}

input {
    width: 60%;
    height: 2rem;
    border: 0.5px solid var(--font-color);
}

textarea {
    width: 60%;
    border: 0.5px solid var(--font-color);
}

button {
    width: 20%;
    font-family: 'Musil', 'Helvetica Neue', 'Open Sana', sans-serif;
    height: 2rem;
    font-size: 2rem;
    background: none;
    border: none;
    margin: 1rem 0 0 20%;
    cursor: pointer;

}

@media only screen and (max-width: 900px) {
    form {
        width: 85%;
        margin: 0 auto;
    }

    input,
    textarea {
        width: 90%;
        margin: 0 auto;
    }
    button {
        margin: 1rem auto;
        width: 40%;
    }
}


